.recharge {
  padding-top: $gridSpace;
  padding-bottom: $gridSpace;
}
.recharge-title {
  margin: $gridSpace 0;
}
.select-card {
  @extend %display-flex;
  @include flex-wrap(wrap);
}
.select-card a {
  margin-right: $contextSpace;
  margin-bottom: $contextSpace;
  background-color: $white;
  color: $black;
  @include box-shadow(0 1px 0 rgba(0, 0, 0, .3));
}
.select-card a:only-of-type {
  @include flex(0 0 auto);
  margin-bottom: 0;
}
.select-card a.sel,
.select-card a:hover {
  background-color: $blueLight;
  color: $white;
}
@media (max-width: 359px) {
  .select-card a {
    @include flex(1 0 40%);
  }
  .select-card a:nth-child(2n),
  .select-card a:last-child:not(:nth-child(2n)) {
    margin-right: 0;
  }
}
@media (min-width: 360px) and (max-width: 479px) {
  .select-card a {
    @include flex(1 0 30%);
  }
  .select-card a:nth-child(3n),
  .select-card a:last-child:not(:nth-child(3n)) {
    margin-right: 0;
  }
}
@media (min-width: 480px) and (max-width: 839px) {
  .select-card a {
    @include flex(1 0 20%);
  }
  .select-card a:nth-child(4n),
  .select-card a:last-child:not(:nth-child(4n)) {
    margin-right: 0;
  }
}
@media (min-width: 840px) {
  .select-card a {
    @include flex(1 0 16%);
  }
  .select-card a:nth-child(5n),
  .select-card a:last-child:not(:nth-child(5n)) {
    margin-right: 0;
  }
}

.payment-list label {
  margin-bottom: $gridSpace;
  padding: $contextSpace;
}
.payment-list label:last-child {
  margin-bottom: 0;
}
.payment-status {
  .statu-success,
  .statu-failure {
    display: none;
    margin-top: $gridSpace;
    text-align: center;
    font-size: 18px;
  }
  .show {
    display: block;
  }
}

.recording-item {
  margin-top: $gridSpace;
  margin-bottom: $gridSpace;
  padding: $contextSpace;
  @include box-shadow(0 1px 2px rgba(0, 0, 0, .3));
}
.recording-order {
  margin-bottom: $contextSpace;
  padding-bottom: $contextSpace;
  border-bottom: 1px solid $grayLight;
}
.recording-content {
  @extend %display-flex;
}
.recording-content li {
  @include flex(1 0 auto);
  font-size: 15px;
}