/********* Center *********/
.u-center {
  @extend %display-flex;
  @include justify-content(center);
  @include align-items(center);
}
/********* Check *********/
.u-check {
  [type=radio],
  [type=checkbox] {
    display: none;

    & + .u-ico {
      border: 1px solid $gray;
    }

    &.checked + .u-ico {
      border: 1px solid $blueLight;
      background: $blueLight url('../images/icon-right.png') no-repeat center;
      background-size: 60%;
    }
  }
  [type=radio] {
    & + .u-ico {
      min-width: 20px;
      height: 20px;
      @include border-radius(50%);
    }
  }
  [type=checkbox] {
    & + .u-ico {
      min-width: 18px;
      height: 18px;
    }
  }
}



.padding-context {
  padding-top: $contextSpace;
  padding-bottom: $contextSpace;
}

.recharge {
  padding-top: $gridSpace;
  padding-bottom: $gridSpace;
}
.recharge-title {
  margin: $gridSpace 0;
}
.select-card,
.select-card-small {
  @extend %display-flex;
  @include flex-wrap(wrap);
  margin-bottom: 5px;
}
.select-card a {
  margin-right: $contextSpace;
  margin-bottom: $contextSpace;
  background-color: $white;
  color: $black;
  @include box-shadow(0 1px 0 rgba(0, 0, 0, .3));
}
.select-card a:only-of-type {
  @include flex(0 0 auto);
  margin-bottom: 0;
}
.select-card a.sel,
.select-card a:hover {
  background-color: $blueLight;
  color: $white;
}
@media (max-width: 359px) {
  .select-card a {
    @include flex(1 0 40%);
  }
  .select-card a:nth-child(2n),
  .select-card a:last-child:not(:nth-child(2n)) {
    margin-right: 0;
  }
}
@media (min-width: 360px) and (max-width: 479px) {
  .select-card a {
    @include flex(1 0 30%);
  }
  .select-card a:nth-child(3n),
  .select-card a:last-child:not(:nth-child(3n)) {
    margin-right: 0;
  }
}
@media (min-width: 480px) and (max-width: 839px) {
  .select-card a {
    @include flex(1 0 20%);
  }
  .select-card a:nth-child(4n),
  .select-card a:last-child:not(:nth-child(4n)) {
    margin-right: 0;
  }
}
@media (min-width: 840px) {
  .select-card a {
    @include flex(1 0 16%);
  }
  .select-card a:nth-child(5n),
  .select-card a:last-child:not(:nth-child(5n)) {
    margin-right: 0;
  }
}

.recharge-small,
.select-card-small {
  width: 100%;
}
.recharge-small {
  @include display-flex;
}

.select-card-small {
  margin-bottom: 0;
  border-bottom: 1px solid #9fa0a0;
  border-left: 1px solid #9fa0a0;

  .u-btn {
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    @include flex(1 0 30%);
    padding: 2px $contextSpace;
    font-size: 12px;

    border-top: 1px solid #9fa0a0;
    border-right: 1px solid #9fa0a0;
    &.sel,
    &:hover {
      background-color: $blueLight;
      color: $white;
    }
  }
}


.payment-list label {
  margin-bottom: $gridSpace;
  padding: $contextSpace;
  font-size: 17px;
}
.payment-list label:last-child {
  margin-bottom: 0;
}
.payment-status {
  @include justify-content(center);
  @include align-items(center);
  font-size: 22px;

  .status-success,
  .status-failure {
    width: 80px;
    height: 80px;
    margin: $gridSpace auto;
    @include border-radius(50%);

    .u-ico {
      width: 50px;
      height: 50px;
      margin: 15px;
    }
  }
}
.payment-assist {
  display: inline-block;
  padding: 6px 0;
  font-size: 15px;

  a {
    display: inline-block;
    margin: 0 10px;

    &:hover {
      color: $blueLight;
    }
  }
}


.recording-item {
  margin-top: $gridSpace;
  margin-bottom: $gridSpace;
  padding: $contextSpace;
  @include box-shadow(0 1px 2px rgba(0, 0, 0, .3));
}
.recording-order {
  margin-bottom: $contextSpace;
  padding-bottom: $contextSpace;
  border-bottom: 1px solid $grayLight;
}
.recording-content {
  @extend %display-flex;
}
.recording-content li {
  @include flex(1 0 auto);
  font-size: 15px;
}