.m-dlg {
  display: none;
  position: fixed;
  z-index: 999;
  background-color: rgba(0,0,0,.4);

  &.show {
    display: block;
  }

  &,
  &-ct {
    top: 0;
    width: 100%;
    height: 100%;
  }
  &-ct {
    position: absolute;
    @include translateX(140%);

    &.crt {
      @include translateX(0);
    }

    .m-pnl {
      width: 80%;
      min-width: 280px;
      max-width: 360px;
      background-color: $white;

      &-hd {
        position: relative;
      }
      &-bd {
        padding: $gridSpace;

        h3 {
          font-size: 16px;
          margin-bottom: $contextSpace;
        }
        .cnt {
          max-height: 90px;
          overflow: auto;
        }
      }
    }
  }

  &-close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    @include border-radius(50%);
    @include box-shadow(-1px 1px 3px rgba(0,0,0,.4));
    background-color: $black;
    cursor: pointer;

    .u-ico {
      width: 16px;
      height: 16px;
    }
  }

}
